@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
  font-family: 'Rainy Hearts';
  src: url('/assets/rainyhearts.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple ][';
  src: url('/assets/Apple ][.ttf') format('truetype');
}

@font-face {
  font-family: 'handy00';
  src: url('/assets/handy00.ttf') format('truetype');
}

:root {
  --border-pink: #fcc7e5;
  --background-pink: #ffeaf6;
  --background-light-pink: #fff6fb;
  --background-dark-pink: #ff8bb6;
  --header-pink: #ff90b5;
  --header-purple: rgb(184, 169, 242);
  --font-pink: #f54c9b;
  /* --font-purple: #E0CDFB; */
  --font-purple: #834feb;
  --tooltip-hover: rgba(255, 227, 243, 0.7);
}

::-webkit-scrollbar {
  height: 12px;
  width: 17px;
  background: #FFF7F9;
  background-image: url(/assets/backgrounds/purple-moon.gif);
  border: 1px solid var(--border-pink);
}

::-webkit-scrollbar-thumb {
  border: 1px solid var(--header-pink);
  background-color: var(--header-purple);
  -webkit-border-radius: 0ex;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75)
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0)
}

* {
  box-sizing: border-box;
}

body,
td,
li,
p,
div,
textarea,
button {
  font-family: "Pixelify Sans", verdana, arial, sans-serif, helvetica;
  font-size: 10pt;
  color: var(--font-purple);
  font-weight: normal;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Rainy Hearts", "Pixelify Sans", verdana, arial, sans-serif, helvetica;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url('/assets/cursors/cursor-winged-heart.png'), auto;
}


a:hover {
  cursor: url('/assets/cursors/cursor-heart-convo.png'), auto;
}

.profile-layout {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.left-column {
  padding-left: 5px;
}

.left-column,
.right-column {
  width: 100%;
}

.myspace-page {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.myspace-url {
  font-size: 9pt;
  border: 2px dotted var(--border-pink);
  background-color: var(--background-pink);
  margin-top: 10px;
  padding: 0px 0px 13px 3px;
  line-height: 0px;
}

.myspace-url a {
  color: var(--font-purple);
  text-decoration: none;
}

.myspace-url a:hover:after {
  content: "you're here already 💖";
  position: absolute;
  margin-left: -75px;
  margin-top: -30px;
  background: rgba(252, 199, 229, 0.5);
  padding: 15px;
  border: 2px dotted var(--border-pink);
  border-radius: 3px;
  z-index: 1;
  width: auto;
  font-size: 9pt;
  color: var(--font-purple);
}

.myspace-url h4 {
  font-size: 11pt;
}

.network-status {
  padding: 20px;
  margin-bottom: 10px;
  font-size: 10pt;
  color: var(--font-purple);
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border: 2px dotted var(--border-pink);
  background-color: var(--background-pink);
}

h1,
h3 {
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  body {
    margin: 10px;
  }

  .myspace-page {
    width: 100%;
    margin: 0 auto;
  }

  .left-column {
    padding-left: 20px;
    padding-right: 20px;
  }

  .right-column {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
  }

  .network-status {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 10px;
  }

  .profile-layout {
    flex-wrap: nowrap;
  }

  .left-column {
    width: 400px;
    padding-right: 20px;
  }

  .right-column {
    flex-grow: 1;
  }
}