@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}

body,
td,
li,
p,
div,
textarea,
button {
  font-family: "Pixelify Sans", verdana, arial, sans-serif, helvetica;
  font-size: 10pt;
  color: #000000;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
}

.profile-layout {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.left-column {
  padding-left: 5px;
}

.left-column,
.right-column {
  width: 100%;
}

.myspace-page {
  width: 90%;
  margin: 0 auto;
}

.myspace-url {
  font-size: 8pt;
  border: 1px solid #000000;
  margin-top: 10px;
  padding: 0px 0px 13px 3px;
  line-height: 0px;
}

.network-status {
  padding: 30px;
  margin-bottom: 10px;
  font-size: 12pt;
  color: #000000;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border: 2px solid #000000;
}

h1,
h3 {
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  body {
    margin: 10px;
  }

  .myspace-page {
    width: 100%;
    margin: 0 auto;
  }

  .left-column {
    padding-left: 20px;
    padding-right: 20px;
  }

  .right-column {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
  }

  .network-status {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 10px;
  }

  .profile-layout {
    flex-wrap: nowrap;
  }

  .left-column {
    width: 300px;
    padding-right: 20px;
  }

  .right-column {
    flex-grow: 1;
  }
}