.about {
    display: flex;
    padding: 5px;
    padding-bottom: 10px;
    border: 2px dotted var(--border-pink);
    background-color: var(--background-pink);
}

.about .right-column {
    width: 60%;
}

.about h1 {
    font-size: 2em;
    margin-top: 10px;
    padding: 5px;
    border: 2px dotted var(--border-pink);
    background-color: var(--background-light-pink);
    text-align: center;
}

.about-status {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1em;
}

.about-info {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1em;
}

.about-login {
    margin-bottom: 10px;
    font-size: 1em;
}

.about-login img {
    margin: 5px;
    margin-top: 10px;
    margin-left: 0px;
    width: 30%;
}

.about-profile-image img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.about-profile-image img:hover {
    cursor: url("/assets/cursors/cursor-heart-convo.png"), auto;
}

.about-view-links {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
}

.about-view-links a {
    color: var(--font-pink);
}

.about-view-links a:hover:after {
    content: "the internet is dead 💖";
    position: absolute;
    margin-left: -75px;
    margin-top: -30px;
    background: var(--tooltip-hover);
    padding: 10px;
    border: 2px dotted var(--border-pink);
    border-radius: 3px;
    z-index: 1;
    width: auto;
    font-size: 0.8rem;
    color: var(--font-purple);
}

.about-title {
    line-height: 20px;
    /* color: var(--font-pink) */
}

.about-title-text {
    color: var(--font-purple);
}
