.blurbs {
    margin-top: 30px;
    padding: 5px;
    padding-bottom: 10px;
    background-color: var(--background-light-pink);
    text-align: center;
}


.blurbs h3 {
    font-size: 1.4rem;
    padding: 5px;
    border: 2px dotted var(--border-pink);
    background-color: var(--background-pink)
}

.blurbs h4 {
    font-size: 1.4rem;
    margin: 10px;
}

.blurbs-image-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blurbs-image {
    margin: 5px;
}

.blurbs-image-embed {
    width: 50%;
    margin: 10px;
}

.blurbs-text {
    margin: 10px;
    margin-bottom: 20px;
    justify-content: center;
    list-style-position: inside;
    line-height: 1.2em;
}

.blurbs-text ol {
    margin-left: -40px;
}

.blurbs-text ol li::marker {
    color: var(--font-pink);
}

.blurbs-text a {
    line-height: 1em;
    color: var(--font-pink)
}

.blurbs-link {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: var(--font-purple);
    font-family: "Rainy Hearts", "Pixelify Sans", verdana, arial, sans-serif, helvetica;
}

.blurbs-link a {
    line-height: 2em;
    color: rgb(0, 187, 255);
    margin: 5px;
    font-family: "Rainy Hearts", "Pixelify Sans", verdana, arial, sans-serif, helvetica;
}

.blurbs-link img {
    margin: 2px;
    margin-bottom: -3px;
    width: 20px;
}