.blurbs {
    margin-top: 30px;
    padding: 5px;
    padding-bottom: 10px;
    background-color: var(--background-light-pink);
    text-align: center;
}

.blurbs h3 {
    font-size: 1.4rem;
    padding: 5px;
    border: 2px dotted var(--border-pink);
    background-color: var(--background-pink);
}

.blurbs h4 {
    font-size: 1.4rem;
    margin: 10px;
    margin-top: 30px;
}

.blurbs-image-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blurbs-image {
    margin: 5px;
}

.blurbs-image-embed {
    width: 50%;
    margin: 10px;
}

.blurbs-text {
    margin: 10px;
    margin-bottom: 20px;
    justify-content: center;
    list-style-position: inside;
    line-height: 1.2em;
}

.blurbs-text ol,
ul {
    margin-left: -40px;
}

.blurbs-text ol li::marker,
ul li::marker {
    color: var(--font-pink);
}

.blurbs-text ol a,
ul a {
    line-height: 1em;
    color: var(--font-pink)
}

.blurbs-dropdown,
.blurbs-dropdown p {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;
    font-size: 1.2rem;
    font-family: "Rainy Hearts", "Pixelify Sans", verdana, arial, sans-serif, helvetica;
}

.blurbs-dropdown select {
    text-align: center;
    width: auto;
    background-color: var(--background-pink);
    color: var(--font-purple);
    border: 1px solid var(--background-dark-pink);
    outline-color: var(--background-dark-pink);
    outline-width: 1px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px;
    font-size: 1.1rem;
    font-family: "Rainy Hearts", "Pixelify Sans", verdana, arial, sans-serif, helvetica;
}

.blurbs-dropdown option {
    background-color: var(--background-pink);
}

.blurbs-dropdown img {
    margin-top: 22px;
}

.blurbs-dropdown a {
    font-size: 1.2rem;
    background-color: var(--background-pink);
    border: 2px dotted var(--background-dark-pink);
    padding: 10px;
    margin-top: 10px;
    color: var(--font-purple);
    font-family: "Rainy Hearts", "Pixelify Sans", verdana, arial, sans-serif, helvetica;
}

.blurbs-ranni {
    margin: 10px;
    margin-bottom: 20px;
}

.blurbs-ranni a {
    margin: 5px;
    color: rgb(0, 187, 255);
    font-weight: 700;
}

.blurbs-ranni-embed img {
    width: 50%;
    margin: 10px;
    margin-bottom: 20px;
}

.blurbs-ranni-image img {
    margin: 2px;
    margin-bottom: -3px;
    width: 20px;
}