.blurbs {
    margin-top: 30px;
    padding: 5px;
    padding-bottom: 10px;
    background-color: var(--background-light-pink);
    text-align: center;
}


.blurbs h3 {
    font-size: 15pt;
    padding: 5px;
    border: 2px dotted var(--border-pink);
    background-color: var(--background-pink)
}

.blurbs h4 {
    font-size: 14pt;
    margin-top: 0px;
    margin-bottom: 10px;
}

.blurbs-image-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blurbs-image {
    margin: 5px;
}

.blurbs-image-embed {
    width: 50%;
}

.blurbs-text {
    margin: 10px;
    justify-content: center;
    list-style-position: inside;
}

.blurbs-text ol {
    margin-left: -40px;
}

.blurbs-text ol li::marker {
    color: var(--font-pink);
}

.blurbs-text a {
    line-height: 1em;
    color: var(--font-pink)
}