.contact-box {
    border: 2px dotted var(--border-pink);
    padding: 10px;
    margin-top: 10px;
    background-color: var(--background-pink);
}

.contact-box h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.3em;
    border-bottom: 1px solid var(--border-pink);
    padding-bottom: 5px;
}

.contact-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.contact-box button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: var(--background-light-pink);
    border: 1px dotted var(--border-pink);
    cursor: pointer;
    font-size: 0.8em;
    text-align: left;
    transition: background-color 0.3s;
    position: relative;
}

.contact-box button:hover:after {
    content: "the internet is dead 💖";
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: 3px;
    background: var(--tooltip-hover);
    padding: 10px;
    border: 2px dotted var(--border-pink);
    border-radius: 3px;
    z-index: 1;
    width: 100%;
}

.contact-box button img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}