.friends {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 5px;
    padding-bottom: 10px;
    background-color: var(--background-light-pink);
}

.friends h2 {
    margin-top: 0px;
    padding: 5px;
    border: 2px dotted var(--border-pink);
    background-color: var(--background-pink);
}

.friend-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.friend {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 20px;
    text-align: center;
}

.friend img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

@media screen and (max-width: 480px) {
    .friend-row {
        flex-direction: column;
    }
}
