.friends {
    display: flex;
    flex-direction: column;
}

.friend-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.friend {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 20px;
    text-align: center;
}

.friend img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}


@media screen and (max-width: 480px) {
    .friend-row {
        flex-direction: column;
    }
}