.header {
    background-color: var(--header-purple);
}

.header-row {
    padding-top: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.header-left {
    color: white;
    padding-left: 10px;
    margin-right: auto;
}

.header-left a {
    color: white;
    text-decoration: none;
}

.header-left a:hover:after {
    content: "the internet is dead 💖";
    position: absolute;
    margin-left: -100px;
    margin-top: 20px;
    background: var(--tooltip-hover);
    padding: 10px;
    border: 2px dotted var(--border-pink);
    border-radius: 3px;
    z-index: 1;
    width: auto;
    font-size: 0.8rem;
    color: var(--font-purple);
}

.header-search {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 50%;
}

.header-search input {
    margin-right: 10px;
    padding: 0px;
}

.header-search button {
    background-color: #e0FFFF;
    cursor: pointer;
    font-size: 0.8rem;
}

.header-search button:hover {
    cursor: url('/assets/cursors/cursor-heart-convo.png'), auto;
}

.header-user-actions {
    color: white;
    padding-right: 10px;
}

.header-user-actions a {
    text-decoration: none;
    color: white;
    margin-left: auto;
}

.header-user-actions a:hover:after {
    content: "the internet is dead 💖";
    position: absolute;
    margin-left: -100px;
    margin-top: 20px;
    background: var(--tooltip-hover);
    padding: 10px;
    border: 2px dotted var(--border-pink);
    border-radius: 3px;
    z-index: 1;
    width: auto;
    font-size: 0.8rem;
    color: var(--font-purple);
}

.header-nav {
    background-color: var(--background-dark-pink);
    padding: 7px 5px;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    max-width: 100%;
    width: 100%;
}

.header-nav a {
    color: white;
    text-decoration: none;
    padding: 0px;
}

.header-nav a:hover:after {
    content: "the internet is dead 💖";
    position: absolute;
    margin-left: -100px;
    margin-top: -40px;
    background: var(--tooltip-hover);
    padding: 10px;
    border: 2px dotted var(--border-pink);
    border-radius: 3px;
    z-index: 1;
    width: auto;
    font-size: 0.8rem;
    color: var(--font-purple);
}

@media screen and (max-width: 480px) {
    .header-row {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .header-left {
        color: white;
        padding: 10px;
        margin: auto;
    }

    .header-search {
        padding: 5px;
        padding-left: 10px;
        margin: auto;
        width: 100%;
    }

    .header-user-actions {
        padding: 10px;
        margin: auto;
    }

    .header-user-actions a {
        margin: auto;
    }
}