.header {
    background-color: #e3e3e3;
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
}

.header h1 {
    margin: 10px 0 5px 0;
}

.header h2 {
    margin: 5px 0;
    color: #555;
}